<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <table th:fragment="content_1" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        </thead>
        <tr th:each="locationStat : ${locationStats}">
            <td style="cursor:help;" th:text="${locationStat.country}" th:onclick="'window.location.href = \'' + @{https://www.google.com/search?q={country}+covid+19(country=${locationStat.country})} + '\''" ></td>
            <td th:text="${locationStat.latestTotal}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>

    <script type="text/javascript"> function page(locationStat.country) { alert(locationStat.country); var pageNum = locationStat.country; location.href="http://localhost:8080/artwork?pageNum="+pageNum; } </script>
